
@model CoverType
@{
    ViewData["Title"] = "Edit";
}

<h1>Delete category</h1>
<br />
@* <form method="post" asp-action="Edit"> NOT REQUIRED AS CTION IS SAME*@

@* <form method="post" asp-action="DeletePOST"> *@ 
    @* ADDED A ACTION NAME IN CONTROLLER *@
     <form method="post" asp-action="Delete"> 

<input hidden asp-for="Id"/>
    @* <div asp-validation-summary="All"></div> *@
    <div class="nb-3">
        <label asp-for="Name"></label>
        <input disabled asp-for="Name" class="form-control" />
    </div>
    <br />
    <button class="btn btn-danger" type="submit">Delete</button>
    <a class="btn btn-dark" asp-controller="CoverType" asp-action="Index">Go back</a>
</form>

@* MAKING VALIDATION TO RENDER IN SERVER SIDE, NO HARD REFRESH *@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
